@{
    Layout = null;
}
<form action="them" method="post">
    <div class="form-horizontal">
        <h2>Thêm loại hàng hóa</h2>
        <div class="form-group">
            @*name trùng với tên field được binding*@
            <b>Mã loại</b><br />
            <input name="Maloai" type="text" value="" maxlength="50" /><br /><br />
        </div>
        <div class="form-group">
            <b>Tên loại</b><br />
            <input name="Tenloai" type="text" value="" maxlength="50" /><br /><br />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" /><br /><br />
        </div>
        <div>
            <a href="@Url.Action("Index")">Quay lại</a>
        </div>
    </div>
</form>
