<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - QuanLyBanHang_Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css?v=AKvNjO3dCPPS0eSU1Ez8T2wI280i08yGycV9ndytL-c">
    <link rel="stylesheet" href="/QuanLyBanHang_Admin.styles.css?v=JGqNzlcBhX94E9r9F3cm7NaRSA7Y0j7ihovrcToMejE">
</head>
<body>
    <header b-twy9s06fus="">
        <nav b-twy9s06fus="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-twy9s06fus="" class="container-fluid">
                <a class="navbar-brand" href="/">QuanLyBanHang_Admin</a>
                <button b-twy9s06fus="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-twy9s06fus="" class="navbar-toggler-icon"></span>
                </button>
                <div b-twy9s06fus="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-twy9s06fus="" class="navbar-nav flex-grow-1">
                        <li b-twy9s06fus="" class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li b-twy9s06fus="" class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
                        </li>
                        <li b-twy9s06fus="" class="nav-item">
                            <a class="nav-link text-dark" href="/Categories">Loại hàng hóa</a>
                        </li>
                        <li b-twy9s06fus="" class="nav-item">
                            <a class="nav-link text-dark" href="/Nhanvien">Nhân viên</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div b-twy9s06fus="" class="container">
        <main b-twy9s06fus="" role="main" class="pb-3">

        </main>
    </div>

    <footer b-twy9s06fus="" class="border-top footer text-muted">
        <div b-twy9s06fus="" class="container">
            © 2025 - QuanLyBanHang_Admin - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="8163148747d04684ac77d53aedaca574" data-requestmappingfromserver="false" data-connecturl="http://localhost:58841/f8016cb70d9e42ff93f48b023902ae50/browserLink"></script>
    <!-- End Browser Link -->
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>
</html>